.broadcast-container {
  width: 43.5rem;
  color: red;
  border: 1px solid green;
  display: flex;
}
.broadcast-container p {
  text-align: right;
}
.broadcast-container h3 {
  text-align: left;
  font-family: 600;
}

