.socialmessaging-container {
  display: flex;
  gap: 0.2rem;
}
@media (max-width: 576px){
  .socialmessaging-container {
    flex-direction: column;
  }
}
.socialmessaging-wrapper {
  width: 75%;
  color: #4d4c4c;
  font-size: 0.9rem;
  padding: 0.5rem;
  margin-top: 0;
  font-size: 62.25%;
  font-family: sans-serif;

  .social_messaging--title {
    display: flex;
    justify-content: space-between;
  }
  h3 {
    font-weight: 900;
  }

  .contact_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    label {
      font-weight: 600;
    }

    .social_profile-img {
      background-color: #e0e0e0;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
    }

    .contact_name {
      font-weight: 700;
      color: #000;
    }

    .contact-item {
      display: flex;
      justify-content: space-between;
      padding: 0 0.7rem;
      align-items: center;
      border: 1px solid #e0e0e0;
    }

    .contact-item p {
      font-size: 0.8rem;
      font-weight: 300;
      color: gray;
    }

    .contact {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .compose_message {
      display: flex;
      flex-direction: column;
      padding: 0 0.7rem 0.3rem;
      border: 1px solid #e0e0e0;

      .compose-title {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;
      }
      .textarea {
        background-color: #fff;
        border: 1px solid #e0e0e0;
        padding: 0.5rem;
        color: #4d4c4c;
        margin-bottom: 0.5rem;
        resize: none;
        height: 3rem;
      }
      .composerbtn {
        display: flex;
        gap: 0.5rem;
        background-color: transparent;
        color: gray;
        font-weight: 600;
        margin-bottom: 0.5rem;
        border-radius: 0.2rem;

        button {
          border: 1px solid #e0e0e0;
        }
      }

      .channel {
        font-weight: 900;
        line-height: 1rem;
        margin-bottom: 1rem;

        .channel-items {
          align-items: center;
          font-size: 0.8rem;
          display: flex;
          gap: 0.5rem;
          color: grey;
        }
      }
      .broadcastbtn {
        width: 100%;
        display: flex;
        justify-content: space-between;
        background-color: transparent;
        color: gray;
        gap: 0.5rem;
        font-weight: 600;
        border-radius: 0.2rem;

        .broadcastbtn {
          padding: 0.2rem 20%;
          text-align: center;
          font-weight: 600;
          border: 1px solid #e0e0e0;
          overflow: hidden;
        }
        .broadcastbtn-1 {
          background-color: rgba(26, 49, 175, 0.6901960784);
          color: #fff;
        }
      }
    }
  }
}
.social-message-preview {
  width: 21%;
  margin-top: 1rem;
  border: 1px solid #e0e0e0;
  height: 7rem;
  padding: 0.5rem;
}
